    
    body {
        background-image: url("https://th.bing.com/th/id/R.4750a19ae340937775a6de4ae13af3da?rik=MO9UjBUsxIkUwQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f9TYuq3W.jpg&ehk=hMJW4ULc98lJpEqoQEz9gdc%2bAV9rHL9vlNX9uhlhDr0%3d&risl=&pid=ImgRaw&r=0");
    }

    #wlc {
        color: white;
        font-size: 50px;
        text-align: center;
        word-spacing: 30px;
    }

    #list {
        margin-bottom: 10px;
        font-weight: bold;
        color: white;
        font-size: 20px;
        margin-left: 100px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    #head{
        color: aliceblue;
    }