
    body{
        background-color: rgb(160, 183, 197);
    }

    #outer{
        display: grid;
        grid-template-columns: auto;
        height: auto;
        gap: 100%;
        align-content: space-between;
    }

    #bar{
        background-color: black;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }


    #cool{
        animation-name: ani;
        animation-duration: 4s;
    }
    @keyframes ani {
        from{background-color: red;}
        to{background-color: yellow;}
    }
  
